<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
    PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
    "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <context id="mysqlTables" targetRuntime="MyBatis3">
        <!-- mybatis generator 插件 -->
        <plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin" />
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin" />
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin" />

        <!-- 注释相关 -->
        <commentGenerator>
            <!-- This property is used to specify whether MBG will include any coments in the generated code -->
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <!-- jdbc的数据库连接，每个context必须要有一个jdbcConnection或者connectionFactory元素 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/world"
                        userId="root"
                        password="root">
        </jdbcConnection>

        <!-- 对于mysql的DECIMAL和NUMERIC统一使用java的BigDecimal类型 -->
        <javaTypeResolver>
            <!-- This property is used to specify whether MyBatis Generator should
                force the use of java.math.BigDecimal for DECIMAL and NUMERIC fields,
                rather than substituting integral types when possible.
                The property supports these values -->
            <property name="forceBigDecimals" value="true"/>
        </javaTypeResolver>

        <!-- 实体类生成配置 -->
        <javaModelGenerator targetPackage="com.mistifler.demo.springbootmybatis.entity" targetProject="src/main/java">
            <!-- 是否允许子包，即targetPackage.schemaName.tableName -->
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="false"/>
        </javaModelGenerator>

        <!-- *mapper.xml生成配置 -->
        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <!-- dao生成配置 -->
        <javaClientGenerator type="XMLMAPPER"
                             targetPackage="com.mistifler.demo.springbootmybatis.mapper"
                             implementationPackage="com.mistifler.demo.springbootmybatis.dao"
                             targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <!-- table生成细节，不太喜欢Example的方式，所以都设置为false -->
        <table tableName="city" domainObjectName="City"
               enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false">
        </table>
    </context>
</generatorConfiguration>